/*! Custom css v1.0.0 | http://thomasfrenkiel.com */
/*
 *
 *   
 */
#.center-container, .content-container {
#    max-width: 928px; /* or any other value */
#    margin: 0 auto; /* Centers the div */
#    padding: 1rem; /* Optional: Adds some padding */
#}
    


@media (max-width: 600px) {
    .fl {
        width: 100% !important;
        float: none !important;
    }

}
@media (max-width: 768px) {
    .spcial {
        display:none;
}
}

/* Main navigation styles */
.top-bar {
    background-color: #b9d9b9; /* Soft green color */
    padding: 20px;
    width: 100%; /* This ensures it stretches fully if it's not already doing so */
}


/* Header styles */
.ph5-ns {
    padding-bottom: 64px; /* Adds whitespace below the green nav bar */
}

/* Hamburger menu */
.menu-toggle {
    cursor: pointer;
    display: block;
}



.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}

.nav {
    display: none;
}

@media (min-width: 768px) {
    .ham-menu {
        display: none;
    }
    .nav {
        display: block;
    }
    .off-screen-menu.active {
        display:none;
    }   
}


