/*! Custom css v1.0.0 | http://thomasfrenkiel.com */
/*
 *
 *   
 */
#.center-container, .content-container {
#    max-width: 928px; /* or any other value */
#    margin: 0 auto; /* Centers the div */
#    padding: 1rem; /* Optional: Adds some padding */
#}
    


@media (max-width: 600px) {
    .fl {
        width: 100% !important;
        float: none !important;
    }

}
@media (max-width: 768px) {
    .spcial {
        display:none;
}
}

/* Main navigation styles */
.top-bar {
    background-color: #b9d9b9; /* Soft green color */
    padding: 20px;
    width: 100%; /* This ensures it stretches fully if it's not already doing so */
}


/* Header styles */
.ph5-ns {
    padding-bottom: 64px; /* Adds whitespace below the green nav bar */
}

/* Hamburger menu */
.menu-toggle {
    cursor: pointer;
    display: block;
}



.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}

.nav {
    display: none;
}

@media (min-width: 768px) {
    .ham-menu {
        display: none;
    }
    .nav {
        display: block;
    }
    .off-screen-menu.active {
        display:none;
    }   
}

.post.h-entry {
    font-size: 18px; /* Adjust font size as needed */
    max-width: 680px; /* Adjust the maximum width to your preference */
    margin: 0 auto; /* Centers the content if the container is larger */
    line-height: 1.6; /* Adjust this value as needed */
    color: #333; /* This is a darker shade of gray, which increases contrast */

;
}

.site-footer {
  background-color: #f9f9f9; /* Light grey background */
  color: #666; /* Dark grey text */
  text-align: center;
  padding: 20px 0;
  margin-top: 48px;
  border-top: 1px solid #e1e1e1; /* Light grey border on the top of the footer */
}

.site-footer .container {
  width: 80%;
  margin: 0 auto; /* Center align the container */
  padding: 20px 0;
}

.footer-links {
  list-style: none; /* Remove default list styling */
  padding: 0;
}

.footer-links li {
  display: inline; /* Display links in a line */
  margin-right: 10px;
}

.footer-links a {
  color: #333; /* Darker grey text for links */
  text-decoration: none; /* No underline */
}

.footer-links a:hover {
  text-decoration: underline; /* Underline on hover */
}


