---
layout: default
title: blog
---

<div class="home mw7 center ph3 f4 lh-copy">
  <ul class="post-list list pl0">
    {%- for post in paginator.posts -%}
    <li class="mv4">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta f6 ttu tracked gray">{{ post.date | date: date_format }}</span>
      <h3 class="f4 fw6 mt2 mb3 lh-title">
        <a class="post-link black-70 link dim" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        <div class="post-excerpt black-70">
          {{ post.excerpt }}
        </div>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.total_pages > 1 -%}
  <div class="pagination tc mt4">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="f5 link dim ba ph3 pv2 mb2 dib black mr2">&laquo; Previous</a>
    {% endif %}

    <span class="f5 black-70">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="f5 link dim ba ph3 pv2 mb2 dib black ml2">Next &raquo;</a>
    {% endif %}
  </div>
  {%- endif -%}

  <p class="rss-subscribe tc mt4 f5">subscribe <a href="{{ "/feed.xml" | relative_url }}" class="link dim blue">via RSS</a></p>
</div> 